# Primitive Types

In [10]:
x = true
println(typeof(x))

y = 1.0
println(typeof(y))

y = 1
println(typeof(y))

# can assign and use value in same line, floating-point division
println((x = 1) / 2) 
println(typeof(x))

Bool
Float64
Int64
0.5
Int64

In [12]:
# prefix notation
+(5, 10)
/(5, 10)

0.5

# Strings

In [15]:
x = 20
println("x = $x")

# concatenate with '*'
x = "foo"
y = "bar"
println(x * y)

x = 20

## Built-in String Functions

In [17]:
s = "Charlie don't surf"
split(s)

3-element Array{SubString{String},1}:
 "Charlie"
 "don't"
 "surf"

In [20]:
split("ya,sad,lad", ",")

3-element Array{SubString{String},1}:
 "ya"
 "sad"
 "lad"

In [21]:
replace(s, "don't", "doesn't")

"Charlie doesn't surf"

In [26]:
match(r"\d+", "l337c0d3")

RegexMatch("337")

# Containers

## Tuples and Lists

In [34]:
t = (1, 2)
# won't work for tuples:
# t[1] = 0

x = [1, 2, 3, 4]
x[end]
x[2:end]

"hello"[2:end]

"ello"

## Dictionaries

In [37]:
d = Dict("name" => "William", "age" => 31)

Dict{String,Any} with 2 entries:
  "name" => "William"
  "age"  => 31

In [39]:
d["age"] += 1
d["age"]

32

## Sets

In [68]:
d = Set([1,2,3])
println(1 in d)
println(4 in d)
push!(d, 4)
println(4 in d)

for i in 1:length(d)
    println(pop!(d))
end

isempty(d)

true
false
true
4
2
3
1

true

# Files

In [45]:
f = open("newfile.txt", "w")
write(f, "testing\n")
write(f, "more testing\n")
close(f)

In [46]:
f = open("newfile.txt", "r")
print(readstring(f))
close(f)

testing
more testing

## Comprehensions

In [4]:
a = [i for i in 1:10];
a[5];

Set(i % 3 for i in 1:100)

Set([0, 2, 1])

# Defining Functions

In [10]:
function f(a, b)
    return a * b
end

f(2, 3)
f("cat", "dog")

"catdog"

In [15]:
f(x) = x^2

f(2)

function apply(f, x)
    return f(x)
end

apply(x -> x^2, 3)

map(x -> sin(1 / x), randn(3))

3-element Array{Float64,1}:
 0.938369
 0.720965
 0.301129

# Vectorization

In [18]:
sq(x) = x^2
# '.' operator vectorizes
sq.(1:10)

10-element Array{Int64,1}:
   1
   4
   9
  16
  25
  36
  49
  64
  81
 100

In [26]:
function chisq(k::Integer)
    @assert k > 0 "k must be a positive integer"
    vars = randn(k)
    sum(vars.^2)
end

chisq.([1, 2, 3, 4, 10])

5-element Array{Float64,1}:
 0.0242369
 0.724458
 7.45018
 2.39908
 5.46653

# Exercises

## Exercise 1

In [27]:
function inner(x, y)
    sum = 0
    for (a, b) in zip(x, y)
        sum += a * b
    end
    return sum
end

inner([2, 2, 3], [3, 1, 4])

20

## Exercise 2

In [30]:
function p(x, coeff)
    val = 0
    for (i, a) in enumerate(coeff)
        val += a * x^i
    end
    return val
end

p(2, [1,2,3])

34

## Exercise 3

In [44]:
function count_upper(s)
    return sum([1 for ch in s if uppercase(ch) == ch])
end
                
count_upper("AbCdEfG")

4

## Exercise 4

In [46]:
function a_in_b(a, b)
    return issubset(Set(a), Set(b))
end

a_in_b([1,2,5], [1,2,3,4])

false

## Exercise 5

In [162]:
function linapprox(f, a::Float64, b::Float64, n::Integer, x)
    @assert a <= x <= b "x must be in [a, b]" 
    step = (b - a) / (n - 1)
    steps = [a + i * step for i in 0:(n-1)]
    points = []
    for step in steps
        x = step
        y = f(step)
        push!(points, (x, y))
    end
    return points
end

points = linapprox(sin, -π, π + 0., 5, 0)

5-element Array{Any,1}:
 (-3.14159, -1.22465e-16)
 (-1.5708, -1.0)
 (0.0, 0.0)
 (1.5708, 1.0)
 (3.14159, 1.22465e-16)

## Exercise 6

In [163]:
open("us_cities.txt", "w") do f
  write(f,
"new york: 8244910
los angeles: 3819702
chicago: 2707120
houston: 2145146
philadelphia: 1536471
phoenix: 1469471
san antonio: 1359758
san diego: 1326179
dallas: 1223229")
end

167

In [167]:
open("us_cities.txt", "r") do f
    total = 0
    for line in eachline(f)
        total += parse(split(line, ":")[2])
    end
    return total
end

23831986